services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: app
    ports:
      - 8000:8000
    volumes:
      - .:/app
    working_dir: /app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - redis
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  worker:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: app-worker
    working_dir: /app
    command: celery -A tasks.celery_app:celery_app worker --loglevel=info --concurrency=4
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    depends_on:
      - redis
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:7-alpine
    container_name: app-redis
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
